@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');

.font-grand-hotel {
    font-family: 'Grand Hotel', cursive;
}

.navbar-header .name {
    font-family: 'Grand Hotel', cursive;
    font-size: 28px;
    margin-top: 9px;
    height: initial;
}
